* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(image\ agr.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  body {
    margin: auto;
    width: auto;
    height: 100%;
  }
}
body header {
  background-color: rgb(47, 69, 79);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin: auto;
  border-bottom: 2px solid brown;
}
body header #spandiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 20%;
  cursor: pointer;
}
body header #spandiv #spen {
  display: none;
  width: 23px;
  height: 3px;
  background-color: white;
  margin-top: 2px;
}
@media screen and (max-width: 600px) {
  body header #spandiv #spen {
    display: block;
  }
}
body header h2 {
  color: white;
  font-size: 15px;
  margin: auto 40px;
  text-align: center;
}
body header .navitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 40px;
}
@media screen and (max-width: 600px) {
  body header .navitems {
    display: none;
    background-color: grey;
  }
}
body header .navitems li {
  list-style-type: none;
}
body header .navitems li #isactive {
  color: brown;
}
body header .navitems li a {
  color: white;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
body header .navitems li a:hover {
  color: gold;
  transition: all 0.5s;
}
body h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin: 20px auto;
  color: white;
}
body h1:hover {
  color: gold;
  transition: all 0.5s;
  cursor: pointer;
  animation: about 8s linear forwards;
}
@keyframes about {
  0% {
    border: 0;
    background-color: black;
    color: black;
    width: 210px;
    border-style: ridge;
  }
  50% {
    border: 0;
    background-color: initial;
    color: black;
    width: 100%;
  }
  100% {
    border: 0;
    background-color: black;
    color: white;
    width: 210px;
    border-style: ridge;
  }
}
body #btn {
  padding: 10px;
  background-color: black;
  color: aqua;
  border: 0;
  outline: 0;
  margin: 10px auto;
  cursor: pointer;
  text-transform: uppercase;
}
body .services {
  margin: auto;
  width: 100%;
}
body .services p {
  color: white;
  font-size: 20px;
  margin: auto 20px;
  text-align: justify;
}
body .services .subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
@media screen and (max-width: 600px) {
  body .services .subscription {
    flex-direction: column;
  }
}
body .services .subscription p {
  text-align: justify;
  font-size: 25px;
  color: blue;
  margin: auto 20px;
}
@media screen and (max-width: 600px) {
  body .services .subscription p {
    margin-top: -20px;
    width: auto;
    height: auto;
  }
}
body .services .subscription form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .services .subscription form #message {
  right: 140px;
  position: absolute;
  font-size: 24px;
  text-align: center;
  top: 40%;
}
@media screen and (max-width: 600px) {
  body .services .subscription form #message {
    margin-top: 20px;
    width: auto;
    height: auto;
    top: 57%;
    right: 100px;
    font-size: 15px;
  }
}
body .services .subscription form #good {
  position: absolute;
  right: 150px;
  top: 40%;
  height: 29px;
  width: 30px;
  display: none;
}
@media screen and (max-width: 600px) {
  body .services .subscription form #good {
    margin: 20px auto;
    width: auto;
    height: auto;
    top: 57%;
    height: 29px;
    width: 30px;
  }
}
body .services .subscription form #loading {
  right: 180px;
  position: absolute;
  font-size: 24px;
  top: 40%;
  display: none;
}
@media screen and (max-width: 600px) {
  body .services .subscription form #loading {
    margin: 20px auto;
    width: auto;
    height: auto;
    top: 57%;
    height: 29px;
    width: 30px;
  }
}
body .services .subscription form input {
  position: absolute;
  padding: 5px;
  width: 150px;
  border: 0;
  right: 78px;
  top: 40%;
  outline: 0;
}
@media screen and (max-width: 600px) {
  body .services .subscription form input {
    margin: 20px auto;
    width: 20px auto;
    height: auto;
    top: 57%;
  }
}
body .services .subscription form button {
  position: absolute;
  right: 10px;
  top: 40%;
  padding: 5px;
  background-color: brown;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 600px) {
  body .services .subscription form button {
    margin: 20px auto;
    width: auto;
    height: auto;
    top: 57%;
  }
}
body footer {
  background-color: rgb(165, 65, 42);
  width: 100%;
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer p {
  text-align: center;
  color: white;
}
@media screen and (max-width: 600px) {
  body footer {
    margin: auto;
    width: auto;
    height: 25vh;
  }
}/*# sourceMappingURL=services.css.map */