* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  body {
    margin: auto;
    width: auto;
    height: auto;
  }
}

header {
  background-color: rgb(47, 69, 79);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin: auto;
  border-bottom: 2px solid brown;
}
header #spandiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 20%;
  cursor: pointer;
}
header #spandiv #spen {
  display: none;
  width: 23px;
  height: 3px;
  background-color: white;
  margin-top: 2px;
}
@media screen and (max-width: 600px) {
  header #spandiv #spen {
    display: block;
  }
}
header h2 {
  color: white;
  font-size: 15px;
  margin: auto 40px;
  text-align: center;
}
header .navitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 40px;
}
@media screen and (max-width: 600px) {
  header .navitems {
    display: none;
    background-color: grey;
  }
}
header .navitems li {
  list-style-type: none;
}
header .navitems li #isactive {
  color: brown;
}
header .navitems li a {
  color: white;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
header .navitems li a:hover {
  color: gold;
  transition: all 0.5s;
}

.heading {
  background-image: url(service.jpg.webp);
  width: 100vw;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: grid;
  place-content: center;
  margin: auto;
}
.heading h1 {
  margin-top: -40px;
  color: brown;
  font-size: 30px;
}
.heading p {
  color: coral;
  font-weight: bolder;
  margin-top: 20px;
}

.subscription {
  background-color: rgb(47, 69, 79);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
}
@media screen and (max-width: 600px) {
  .subscription {
    display: grid;
    margin: auto;
  }
}
.subscription p {
  color: white;
  margin: auto;
  text-align: center;
  font-size: 20px;
  width: auto;
}
.subscription form {
  width: 100vw;
  margin: auto 40px;
}
@media screen and (max-width: 600px) {
  .subscription form {
    margin: 30px auto;
    width: auto;
    height: auto;
  }
}
.subscription form #message {
  right: 140px;
  position: absolute;
  font-size: 20px;
  top: 63%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .subscription form #message {
    margin: auto;
    width: auto;
    height: auto;
    top: 62%;
    right: 100px;
    font-size: 15px;
  }
}
.subscription form #good {
  position: absolute;
  right: 150px;
  top: 61%;
  height: 29px;
  width: 30px;
  display: none;
}
@media screen and (max-width: 600px) {
  .subscription form #good {
    margin: auto;
    width: auto;
    height: auto;
    top: 62%;
    height: 29px;
    width: 30px;
  }
}
.subscription form #loading {
  right: 180px;
  position: absolute;
  font-size: 24px;
  top: 61%;
  display: none;
}
@media screen and (max-width: 600px) {
  .subscription form #loading {
    margin: auto;
    width: auto;
    height: auto;
    top: 62%;
    height: 29px;
    width: 30px;
  }
}
.subscription form input {
  width: auto;
  position: absolute;
  padding: 7px;
  border: 0;
  outline: 0;
  right: 78px;
  top: 61%;
}
@media screen and (max-width: 600px) {
  .subscription form input {
    margin: auto;
    width: auto;
    height: auto;
    top: 62%;
  }
}
.subscription form button {
  padding: 10px 10px 8px 10px;
  font-size: 10px;
  width: auto;
  right: 10px;
  top: 61%;
  color: white;
  position: absolute;
  cursor: pointer;
  background-color: brown;
  border: 0;
  outline: 0;
}
.subscription form button:hover {
  background-color: white;
  color: red;
  transition: all 1.5s;
}
@media screen and (max-width: 600px) {
  .subscription form button {
    margin: auto;
    width: auto;
    height: auto;
    top: 62%;
  }
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: lightgray;
  flex: 1;
  width: 100vw;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  .images {
    width: 100vw;
    margin: auto;
    height: auto;
    display: grid;
    place-content: center;
  }
}
.images .image_1 {
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .images .image_1 {
    margin-top: 90px;
  }
}
.images .image_1 P {
  text-align: center;
  font-size: 20px;
}
.images .image_1 h3 {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}
.images .image_2 {
  width: 100px;
  height: 100px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .images .image_2 {
    margin-top: 110px;
  }
}
.images .image_2 h3 {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}
.images .image_2 p {
  text-align: center;
  font-size: 20px;
}
.images .image_3 {
  width: 50px;
  height: 50px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .images .image_3 {
    margin-top: 90px;
  }
}
.images .image_3 h3 {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}
.images .image_3 p {
  text-align: center;
  font-size: 20px;
}
.images .image_3 p {
  text-align: center;
  font-size: 20px;
}

footer {
  background-color: rgb(165, 65, 42);
  width: 100%;
  height: 10vh;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  footer {
    width: 100vw;
  }
}
footer p {
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */